@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.clck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  color: #FFF;
}

#clock {  
  font-size: 10rem;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  font-weight: 900;
  text-shadow: 0 0 10px rgba(21, 92, 171, 0.3), 0 0 30px rgba(21, 92, 171, 0.3);
}