footer{
    width: 100%;
    height: 57vh;
    background-color: var(--hf-color);
    position: relative;
}

.outContainer{
    width: 80%;
    margin: auto;
    display: flex;
}

.insideContainer{
    width: 30%;
    margin: 20px;
    height: auto;
}

.outContainer h2{
    margin: 20px 0;
    position: relative;
    text-transform: uppercase;
}

.outContainer h2::before{
    content: "";
    position: absolute;
    top: 40px;
    background-color: var(--bg-color);
    border-radius: 10px;
    height: 5px;
    width: 80px;
}

.links li{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright p{
    margin: 20px;
    text-align: center;
}

.copyright a{

    color: var(--pure);
    font-weight: 900;
}

.copyright a:hover{
    text-decoration: underline;
}

hr{
    width: 50%;
    margin: auto;
}