:root{
    --primary-color : rgb(63, 63, 63);
    --bg-color : rgb(197, 223, 230);
    --hf-color : rgb(255, 255, 255);
    --pure: rgb(0, 0, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

body{
    background-color: var(--bg-color);
}